body {
    font-family: Helvetica, Georgia, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
span.icon:before {
    font-size: 32px;
}
.headline {
    font-weight: normal;
}
